#navbar {
  background-image: url(/images/1.jpg);
  background-color: rgba(0,0,0,0.2);
  height:28vh;
}

#navbar .navbar-inner a {
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 28vh;
  text-decoration: none;
}

.navbar-inner {
  width: 60vw;
  margin: 0 auto;
}
#wrapper {
  margin-top: 20px;
}
