#navbar {
  background-color: #283646;
  height:28vh;
}

#navbar .navbar-inner a {
  color: #fff;
  font-size: 20px;
  line-height: 28vh;
  text-decoration: none;
}

.navbar-inner {
  width: 60vw;
  margin: 0 auto;
}
#wrapper {

}
