#navbar {
  background-image: url(/images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:28vh;
}

.navbar-color {
  height: 28vh;
  background-color: rgba(0,0,0,0.2);
}

#navbar .navbar-inner a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding-top:4vh;
}

.welcome {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.navbar-inner {
  width: 62vw;
  margin: 0 auto;
}

#wrapper {
  margin-top: 20px;
}
