<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/typo.css" />
<link rel="stylesheet" type="text/css" href="/css/jugg.css" />
<link rel="stylesheet" href="/css/default.css">
<title>JuggCorner</title>
</head>
<div id="navbar">
  <div class="navbar-color">
    <div class="navbar-inner">
      <a href="http://jugghardlife.github.io">home</a> &nbsp;
      <p class="welcome">Welcome</p>
    </div>
  </div>
</div>
<div id="wrapper" class="typo">
  <h1 style="text-align:center; margin-bottom: 0;">{{ page.title }}</h1>
  <br>
  {{ content }}
  <br>
</div>
</html>
